// animation
@-webkit-keyframes animateRainbow {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }

}

@keyframes animateRainbow {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }

}

.eb-progressbar-title {
	font-size: 20px;
	font-weight: 400;
}
.eb-progressbar-line {
	position: relative;
	display: block;
	width: 100%;
	height: 12px;
	background-color: #eee;
	.eb-progressbar-count-wrap {
		position: absolute;
		right: 0;
		bottom: calc(100% + 5px);
		font-size: 16px;
		font-weight: 400;
		line-height: 1;
	}
}
å.eb-progressbar-line-fill {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 0;
	width: 0;
	height: 12px;
	background-color: #000;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: width 1500ms linear;
	-o-transition: width 1500ms linear;
	transition: width 1500ms linear;
	overflow: hidden;
}
.eb-progressbar-circle {
	position: relative;
	width: 200px;
	height: 200px;
	.eb-progressbar-title {
		font-size: 16px;
		font-weight: 400;
	}
	.eb-progressbar-count-wrap {
		font-size: 28px;
		font-weight: 700;
	}
}
.eb-progressbar-circle-shadow {
	width: 220px;
	height: 220px;
	padding: 10px;
	border-radius: 50%;
}
.eb-progressbar-circle-pie {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-clip-path: inset(0 0 0 50%);
	clip-path: inset(0 0 0 50%);
}
.eb-progressbar-circle-inner {
	height: 100%;
	width: 100%;
	border-width: 12px;
	border-style: solid;
	border-color: #eee;
	border-radius: 50%;
}
.eb-progressbar-circle-half {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	border-width: 12px;
	border-style: solid;
	border-color: #000;
	border-radius: 50%;
	-webkit-clip-path: inset(0 50% 0 0);
	clip-path: inset(0 50% 0 0);
}
.eb-progressbar-circle-half-left {
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}
.eb-progressbar-circle-half-right {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
	visibility: hidden;
}
.eb-progressbar-circle-inner-content {
	position: absolute;
	top: 50%;
	width: 100%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	text-align: center;
}
.eb-progressbar-half-circle {
	position: relative;
	width: 200px;
	height: 100px;
	overflow: hidden;
	.eb-progressbar-circle-pie {
		-webkit-clip-path: inset(0 0 50% 0);
		clip-path: inset(0 0 50% 0);
	}
	.eb-progressbar-circle-half {
		-webkit-clip-path: inset(50% 0 0 0);
		clip-path: inset(50% 0 0 0);
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: -webkit-transform 1500ms linear;
		transition: -webkit-transform 1500ms linear;
		-o-transition: transform 1500ms linear;
		transition: transform 1500ms linear;
		transition: transform 1500ms linear, -webkit-transform 1500ms linear;
	}
	.eb-progressbar-circle-inner-content {
		top: initial;
		bottom: 0;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
	.eb-progressbar-title {
		font-size: 16px;
		font-weight: 400;
	}
	.eb-progressbar-count-wrap {
		font-size: 28px;
		font-weight: 700;
	}
}
.eb-progressbar-half-circle-after {
	position: relative;
	font-size: 12px;
	font-weight: 400;
	clear: both;
}
.eb-progressbar-postfix-label {
	float: right;
}
.eb-progressbar-line-stripe {
	.eb-progressbar-line-fill {
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: -35px;
			width: calc(100% + 70px);
			height: 100%;
			background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
			background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
			background-size: 35px 35px;
		}
	}
}
.eb-progressbar-line-animate {
	.eb-progressbar-line-fill {
		&:after {
			-webkit-animation: animateStripe 2s linear infinite;
			animation: animateStripe 2s linear infinite;
		}
	}
}
.eb-progressbar-line-animate-rtl {
	.eb-progressbar-line-fill {
		&:after {
			-webkit-animation: animateStripeRTL 2s linear infinite;
			animation: animateStripeRTL 2s linear infinite;
		}
	}
}
.eb-progressbar-circle-wrap {
	& > div {
		margin: 0 auto;
	}
}
.eb-progressbar-line-container.left,
.eb-progressbar-circle-container.left>div,
.eb-progressbar-box-container.left>div {
	margin: 0 auto 0 0;
}
.eb-progressbar-line-container.center,
.eb-progressbar-circle-container.center>div,
.eb-progressbar-box-container.center>div {
	margin: 0 auto;
}
.eb-progressbar-line-container.right,
.eb-progressbar-circle-container.right>div,
.eb-progressbar-box-container.right>div {
	margin: 0 0 0 auto;
}
.rtl {
	.eb-progressbar-line-container {
		text-align: right;
		.eb-progressbar-count-wrap {
			left: 0;
			right: auto;
		}
		.eb-progressbar-line-fill {
			left: auto;
			right: 0;
		}
	}
	.eb-progressbar {
		&.eb-progressbar-circle {
			.eb-progressbar-circle-pie {
				-webkit-clip-path: inset(0 50% 0 0);
				clip-path: inset(0 50% 0 0);
			}
			.eb-progressbar-circle-half {
				-webkit-clip-path: inset(0 0 0 50%);
				clip-path: inset(0 0 0 50%);
			}
		}
	}
	.eb-progressbar-circle-container {
		.eb-progressbar-half-circle-after {
			.eb-progressbar-prefix-label {
				float: left;
			}
		}
	}
}
