.eb-progressbar-container {
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border-radius: 4px;
	position: relative;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.eb-progressbar-title {
	font-size: 18px;
	padding-left: 8px;
}

.eb-progressbar-progress {
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100%;
	color: #fff;
	background-color: #7967ff;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	-webkit-transition: width 0.6s ease;
	-o-transition: width 0.6s ease;
	transition: width 0.6s ease;
}

.eb-progressbar-tooltip {
	position: absolute;
	right: -28px;
	top: -40px;
	padding: 5px 15px;
	font-size: 13px;
	border-radius: 3px;
	font-weight: normal;
	line-height: 1.8;
}
.eb-progressbar-tooltip-arrow {
	width: 0;
	height: 0;
	position: absolute;
	bottom: -5px;
	left: 50%;
	margin-left: -5px;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 5px 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}

// Typography style
.eb-typography-base div {
	display: flex;
	justify-content: space-between;
}
